<ion-grid id="selector">

    <ion-row id="parent">
      <ion-col  align-self-center size-md="6" size-lg="5" size-xs="12">
       <ion-img (click)="selAccType('parent')" class="logo" src="../../assets/icon/family.svg"></ion-img>
       <h2>Parent</h2>
      </ion-col>
    </ion-row>
    <ion-row id="teacher">
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <ion-img (click)="selAccType('teacher')" class="logo" src="../../assets/icon/professor.svg"></ion-img>
          <h2>Teacher</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
