<ion-grid>
	<ion-row justify-content-center>
		<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
			<div text-center>
				<ion-img class="login_img" src="../../assets/icon/notebook.svg"></ion-img>
			</div>
			<div padding>
				<ion-item>
					<ion-input type="text" placeholder="Email" [(ngModel)]="email"></ion-input>
				</ion-item>
				<ion-item>
					<ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
				</ion-item>
			</div>
			<div padding>
				<ion-button size="large"(click)="register()" expand="block">Register</ion-button>
      </div>
      <div padding>
				<ion-button color="danger" size="large" routerLink="/login"  expand="block">Back</ion-button>
			</div>
		</ion-col>
	</ion-row>
</ion-grid>